# Python bytecode
__pycache__/
*.py[cod]
*.pyc

.idea
# Env files
.env

# OS-specific
.DS_Store
Thumbs.db

# Migrations (optional)
*/migrations/*.pyc
*/migrations/__pycache__/

# Virtual env
venv/
.env/
